@model TvShow

<td>
    <a href="@Model.Url">
        <!-- TODO: if image url nullor white space show default image from wwwrooot-->
        <img alt="@Model.Name" class="w-25" src="@Model.ImageUrl" />
    </a>
</td>
<td><a href="@Model.Url">@Model.Name</a></td>
<td>@Model.Status</td>

<td>
    @if (Model.NextEpisode != null)
    {
        <span>
            @Model.NextEpisode.Name: @Model.NextEpisode.AirDate.ToLocalTime().ToShortDateString() - @{
                var time = Model.NextEpisode.AirDate - DateTime.Now;
            }@time.Days days
        </span>
    }
</td>

