@page
@model PopcornReady.Razor.Pages.TvShows.IndexModel
@{
}

<form method="post">
    <div class=" ml-2 mt-5 form-group d-flex">
        <input class="form-control col-4" placeholder="arrow" asp-for="Search" />
        <button type="submit" class="ml-2 btn btn-success">Search</button>
        <span class="text-danger ml-2" asp-validation-for="Search"></span>
    </div>
</form>
<div class="row">
    <div class="col-10">
        @if (Model.TvShows?.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Show</th>
                        <th>Status</th>
                        <th>Next Episode</th>
                    </tr>
                </thead>
                @foreach (var show in Model.TvShows)
                {
                    <tr>
                        <td>
                            <a href="@show.Url">
                                <img alt="@show.Name" class="w-25" src="@show.ImageUrl" />
                            </a>
                        </td>
                        <td><a href="@show.Url">@show.Name</a></td>
                        <td>@show.Status</td>

                        <td>
                            @if (show.NextEpisode != null)
                            {
                                <span>
                                    @show.NextEpisode.Name: @show.NextEpisode.AirDate.ToLocalTime().ToShortDateString() - @{
                                        var time = show.NextEpisode.AirDate - DateTime.Now;
                                    }@time.Days days
                                </span>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}